@namespace Uwn.Razor.Demo.Components.Shared

<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">

<head>
	<base href="/" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous" />
	<link href="https://cdn.jsdelivr.net/npm/prismjs@1.30.0/themes/prism-coy.min.css" rel="stylesheet" />
	<link href="app.css" rel="stylesheet" />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
	<script src="https://kit.fontawesome.com/804bfb44ef.js" crossorigin="anonymous"></script><!-- Duotone-Regular-v6 -->
	<script src="https://cdn.jsdelivr.net/npm/prismjs@1.30.0/components/prism-core.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/prismjs@1.30.0/plugins/autoloader/prism-autoloader.min.js"></script>
	<script src="app.js"></script>
	<script type="module" src="_content/Uwn.Razor/js/uwnComponentUtils.js"></script>
	<ImportMap />
	<HeadOutlet @rendermode=@(new InteractiveServerRenderMode(prerender: false)) />
</head>

<body>
	<Routes @rendermode=@(new InteractiveServerRenderMode(prerender: false)) />
	<script src="_framework/blazor.web.js"></script>
</body>

</html>
