@namespace Uwn.Razor.Components.Bootstrap.Alerts
@using Uwn.Razor.Models.ViewModels.Bootstrap.Alerts
@using System.Timers
@inherits UwnComponentBase<AlertViewModel>

@if (ViewModel.IsVisible)
{
	<div id="@ViewModel.Id" class="@BuildClassNames()" style="@BuildStyles()" role="alert">
		@if (ViewModel.Header is not null)
		{
			<h4 class="alert-heading">
				<TextWithIcon Content="ViewModel.Header" />
			</h4>
		}
		<TextWithIcon Content="ViewModel.Content" />
		@*
		@if (ViewModel.DismissOptions.HasCloseButton)
		{
			<button type="button" class="btn-close" data-bs-dismiss="alert" />
		}
		*@
	</div>
}

@code {
	[Parameter] public BS.Position Position { get; set; } = BS.Position.None;
	[Parameter] public Content? Header { get; set; }
	[Parameter] public Content? Content { get; set; }
	[Parameter] public WidthDefinition? Width { get; set; }
	[Parameter] public Appearance Appearance { get; set; } = new();
	[Parameter] public DismissOptions DismissOptions { get; set; } = new(0, true);

	protected Timer? _timer = null;

	protected override AlertViewModel BuildViewModelFromParameters()
		=> new()
		{
			Appearance = Appearance,
			Content = Content,
			DismissOptions = DismissOptions,
			Header = Header,
			Position = Position,
			Width = Width
		};

	public void Show(Content? content = null)
	{
		if (content is not null)
			ViewModel.Content = content;
		ViewModel.IsVisible = true;
		StateHasChanged();
		if (ViewModel.DismissOptions.Delay > 0)
		{
			_timer = new(TimeSpan.FromMilliseconds(ViewModel.DismissOptions.Delay));
			_timer.Elapsed += OnTimerElapsedAsync;
			_timer.Start();
		}
	}

	protected async void OnTimerElapsedAsync(object? sender, ElapsedEventArgs e)
	{
		ViewModel.IsVisible = false;
		await InvokeAsync(StateHasChanged);
		_timer?.Stop();
		_timer?.Dispose();
		_timer = null;

	}

	protected string BuildClassNames()
	{
		var builder = new StringBuilder();
		builder.Append("alert" + " ");
		builder.Append("m-2" + " ");
		builder.Append(ViewModel.AdditionalClassNames + " ");
		ViewModel.Position.AppendClassNames(builder);
		ViewModel.Appearance.AppendClassNames(StyleUsages.Alert, builder);
		return builder.ToString().Trim();
	}

	protected string BuildStyles()
	{
		var builder = new StringBuilder();
		if (ViewModel.Width is not null)
			builder.Append(ViewModel.Width.GetCssStyle());
		return builder.ToString().Trim();
	}
}