@attribute [Route(RouteStrings.EnumerationsBootstrapModalSize)]
@namespace Uwn.Razor.Demo.Components.Enumerations.Bootstrap

<CodeContainer Language="Language.CSharp">
namespace Uwn.Razor.Enumerations.Bootstrap;

public enum ModalSize
{
	Small,
	Medium,
	Large,
	ExtraLarge,

	Default = Medium
}
</CodeContainer>

<p>Defines the default size of a <NavLink href="@RouteStrings.ComponentsBootstrapModalDialog">Modal</NavLink>.</p>

<CodeContainer Language="Language.CSharp">
public static class ModalSizeExtender
{
	// Get the CSS class name
	public static string GetClassName(this ModalSize size) { ... }
}
</CodeContainer>
