@namespace Uwn.Razor.Components.Bootstrap.Links
@using Uwn.Razor.Models.ViewModels.Bootstrap.Links
@inherits UwnComponentBase<ExternalLinkViewModel>

@if (ViewModel.IsVisible)
{
	<a id="@ViewModel.Id" class="external" href="@ViewModel.Href" target="_blank">
		@FragmentProvider.BuildFontAwesomeFragment("fa-arrow-up-right-from-square", "fa-sm")
		@ViewModel.ChildContent
	</a>
}

@code {
	[Parameter] public RenderFragment? ChildContent { get; set; }
	[Parameter] public string Href { get; set; } = string.Empty;

	protected override ExternalLinkViewModel BuildViewModelFromParameters()
		=> new()
		{
			ChildContent = ChildContent,
			Href = Href
		};
}
