@namespace Uwn.Razor.Components.Bootstrap.Links
@using Uwn.Razor.Models.ViewModels.Bootstrap.Links
@inherits UwnComponentBase<HyperlinkViewModel>

@if (ViewModel.Link is not null)
{
	<a href="@ViewModel.Link.Href">
		@if (ViewModel.Link.Icon is not null)
		{
			@FragmentProvider.BuildFontAwesomeFragment(ViewModel.Link.Icon, "me-1")
		}
		<span>@ViewModel.Link.Text</span>
	</a>
}

@code {
	[Parameter] public Link? Link { get; set; }

	protected override HyperlinkViewModel BuildViewModelFromParameters()
		=> new()
		{
			Link = Link
		};
}
