@namespace Uwn.Razor.Components.Bootstrap.Tables
@using Uwn.Razor.Models.ViewModels.Bootstrap.Tables
@inherits UwnComponentBase<TableViewModel>

@if (ViewModel.IsVisible)
{
	<table id="@ViewModel.Id" class="@ClassNames @ViewModel.AdditionalClassNames">
		<CascadingValue Value="ViewModel.Purpose">
			@ViewModel.ChildContent
		</CascadingValue>
	</table>
}

@code {
	[Parameter] public RenderFragment? ChildContent { get; set; }
	[Parameter] public TablePurpose Purpose { get; set; }

	protected string ClassNames
	{
		get
		{
			if (IsBootstrapAvailable)
				return ViewModel.Purpose switch
				{
					TablePurpose.Data => "table table-hover table-striped",
					TablePurpose.Editor => "table",
					TablePurpose.Filter => "table table-borderless table-sm",
					_ => "table",
				};
			else
				return string.Empty;
		}
	}

	protected override TableViewModel BuildViewModelFromParameters()
		=> new()
		{
			ChildContent = ChildContent,
			Purpose = Purpose
		};
}
