@namespace Uwn.Razor.Demo.Components.Shared.Containers

<p class="mb-4">
	<strong>Namespace:</strong>
	<br />
	<code class="ps-4">Uwn.Razor.Services</code>
</p>

<p>@Description</p>

@code {
	[Parameter] public string? Description { get; set; }
}