@namespace Uwn.Razor.Demo.Components.Shared.Rows
@inherits ModelEditorBaseRow<Content>

<tr>
	<th scope="row">Content</th>
	<td><code>Content</code></td>
	<td>(Optional) The Component's main content</td>
	<td></td>
	<td>
		<ContentEditor Model="@Value" ModelChanged="v => Value = v" />
	</td>
</tr>
