@namespace Uwn.Razor.Demo.Components.Shared.Rows

<tr>
	<th scope="row">@Label</th>
	<td><code>@Type</code></td>
	<td>@Description</td>
	<td></td>
	<td></td>
</tr>

@code {
	[Parameter] public string Label { get; set; } = string.Empty;
	[Parameter] public string Type { get; set; } = string.Empty;
	[Parameter] public string Description { get; set; } = string.Empty;
}