@namespace Uwn.Razor.Demo.Components.Shared.Rows

<tr>
	<th scope="row">@Label</th>
	<td><code>int</code></td>
	<td>@Description</td>
	<td></td>
	<td>
		<InputNumber class="form-control w-8"
					 Value="@Value"
					 ValueChanged="ValueChanged"
					 ValueExpression="@(() => Value)" />
	</td>
</tr>

@code {
	[Parameter] public string Label { get; set; } = string.Empty;
	[Parameter] public string Description { get; set; } = string.Empty;
	[Parameter] public int Value { get; set; }
	[Parameter] public EventCallback<int> ValueChanged { get; set; }
}