@namespace Uwn.Razor.Demo.Components.Shared.Rows
@inherits ModelEditorBaseRow<Content>

<tr>
	<th scope="row">@Label</th>
	<td><code>Content</code></td>
	<td>@Description</td>
	<td></td>
	<td>
		<ContentEditor Model="@Value" ModelChanged="v => Value = v" />
	</td>
</tr>

@code {
	[Parameter] public string Label { get; set; } = string.Empty;
	[Parameter] public string Description { get; set; } = string.Empty;
}