@namespace Uwn.Razor.Demo.Components.Shared.Rows

<tr>
	<th scope="row">Id</th>
	<td><code>string</code></td>
	<td>(Optional) ID for the main HTML element of the Component</td>
	@if (!IsBase)
	{
		<td>Inherited from <code>UwnComponentBase</code></td>
		if (!IsRoute)
		{
			<td>
				<InputText class="form-control w-8"
						   Value="@Value"
						   ValueChanged="@(v=>ValueChanged.InvokeAsync(v))"
						   ValueExpression="@(()=>Value)" />
			</td>
		}
	}
</tr>

@code {
	[Parameter] public bool IsBase { get; set; } = false;
	[Parameter] public bool IsRoute { get; set; } = false;
	[Parameter] public string? Value { get; set; }
	[Parameter] public EventCallback<string?> ValueChanged { get; set; }
}